/.Expansions.java._trace
/.Relations.java._trace
/.TechnoCatExpansions.java._trace
/.TechnoCatExtensions.java._trace
/.TechnoCatRelations.java._trace
/.TechnoCatScopes.java._trace
/.TransitiveClosure.java._trace
/TechnoCatExpansions.java
/TechnoCatExtensions.java
/TechnoCatRelations.java
/TechnoCatScopes.java
